body {
  font-family: sans-serif;
}

h1 {
  display: inline;
}

.authorText {
  font-family: monospace;
  margin-left: 10px;
  font-size: 15px;
}

.navLink, .navLink > h3 {
  display: inline;
}

.navLink, .navLink:visited {
  text-decoration: none;
  color: black;
  padding-bottom: 0.5px;
}

.navLinkCurrent {
  border-bottom: 3px solid red;
}
