/*Non component-specific styles*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: black;
}

#render-target {
  background-color: #333;
  height: 100%;
}

#navLinksContainer, #exploreContainer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/*Header component styles*/
header {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  border-bottom: 5px solid black;
}

h1 {
  display: inline;
}

h1 a, h1 a:visited {
  text-decoration: none;
  color: black;
}

#authorText {
  font-family: monospace;
  margin-left: 10px;
  font-size: 15px;
}

#loginContainer {
  float:right;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
#loginContainer:hover {
  background-color: gray;
  color: white;
}

#login-sign-in-link, #login-name-link {
  text-decoration: none !important;
}

#login-dropdown-list {
  position: absolute;
  top: 40px;
  left: -190px;
}


/*Nav Component Styles*/
#navLinksContainer {
  text-align: center;
  color: white;
}

.navLink, .navLink > h3 {
  display: inline;
  color: white;
}

.navLink, .navLink:visited {
  text-decoration: none;
  color: black;
  padding-bottom: 0.5px;
}

.navLink h3:hover {
  color: red !important;
}

.navLinkCurrent {
  border-bottom: 3px solid red;
}

.navLinkCurrent h3:hover {
  color: white !important;
}

/*Explore component styles*/
#exploreContainer {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: white;
  width: 90%;
  padding: 5px;
}

#exploreContainer li {
  font-size: 14px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

#exploreContainer li a, #exploreContainer li a:visited {
  color: #27b6db;
  font-weight: bold;
  text-decoration: none;
}

#exploreContainer li a:hover {
  text-decoration: underline;
}

#exploreContainerHeaderText {
  font-weight: bold;
  margin-left: 30px;
}

#createYourOwnBlogText {
  font-size: 12px;
  margin-left: 5px;
}

/*Footer component styles*/
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 15px;
  background-color: black;
}
